@media all and (min-width: 480px) {
  .stocks-container {
    display: flex;
    justify-content: space-around;
    width: 100%;

    > .left {
      width: 100%;

      > .stock-functions{
        padding-right: 32px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 8px;
      }
    }

    > .right {
      width: 50%;
    }
  }

  .table {
    padding-right: 32px;
  }
}